<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JWTAuthApi.demo.mapper.PracticeRepository">
  <select id="findWordByCG" resultType="Word">
    SELECT w.number, w.image_url, w.keyword
    FROM Word w
    JOIN Category c ON w.category_id = c.category_id
    WHERE c.category_name = #{category_name};
  </select>

  <select id="findWordByKW" resultType="Word">
    SELECT word_id
    FROM Word
    WHERE keyword IN
    <foreach collection="wordList" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <insert id="saveWord" useGeneratedKeys="true" keyProperty="practiced_word_id">
    insert into Practiced_Word_List(user_id, word_id, learned_date)
    values (#{userId}, #{wordId}, #{learned_date})
  </insert>

  <select id="wordCount" resultType="int">
    select count(*)
    from word
    where category_id =
     (select category_id
     from word
     where word_id = #{wordId});
  </select>

  <insert id="saveProgress" useGeneratedKeys="true" keyProperty="practiced_progress_id">
    insert into Practiced_Progress(user_id, progress_rate, learned_date)
    values (#{userId}, #{progressRate}, #{learned_date})
  </insert>
</mapper>