<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JWTAuthApi.demo.mapper.PracticeRepository">
  <select id="findWordByCG" resultType="com.example.SignBridge_BE.domain.Word">
    SELECT w.number, w.image_url, w.keyword
    FROM Word w
    JOIN Category c ON w.category_id = c.category_id
    WHERE c.category_name = #{category_name};
  </select>

  <select id="findWordByKW" resultType="com.example.SignBridge_BE.domain.Word">
    SELECT *
    FROM Word
    WHERE keyword IN
    <foreach collection="wordList" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <insert id="saveWord" useGeneratedKeys="true" keyProperty="practiced_word_id">
    insert into Practiced_Word_List(user_id, word_id, learned_date, category_id)
    values (#{userId}, #{wordId}, #{learned_date}, #{categoryId})
  </insert>

  <select id="wordCount" resultType="int">
    select count(*)
    from word
    where category_id = #{categoryId};
  </select>

  <insert id="saveProgress" useGeneratedKeys="true" keyProperty="practiced_progress_id">
    insert into Practiced_Progress(user_id, progress_rate, learned_date, category_id)
    values (#{userId}, #{progressRate}, #{learned_date}, #{categoryId})
  </insert>

  <select id="bestProgress" resultType="com.example.SignBridge_BE.domain.PracticeBestProgress">
    SELECT c.category_name, MAX(p.progress_rate) AS maxProgress
    FROM category c
    LEFT JOIN Practiced_Progress p ON c.category_id = p.category_id
    WHERE p.user_id = #{userId}
    GROUP BY c.category_name;
  </select>
</mapper>